* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --font-family: 'Poppins', sans-serif;
  --primary: yellow;
  --black: #000000;
  --white: #ffffff;
  --gray: #808080;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.container {
  width: 100%;
}

body {
  padding-top: 90px;
}